cut, apply함수 연습

In [2]:
import pandas as pd

In [4]:
df = pd.read_csv('patient.csv')
df

     age     sex  glucose  cholesterol  height  weight  hip  waist diabetes
0     50    Male      385          140    1.75    78.0   41     37        Y
1     37  Female       67          214    1.63    65.8   42     34        N
2     43  Female      100          160    1.63    63.5   40     37        N
3     32  Female       90          176    1.60   114.3   58     45        N
4     20    Male       71          164    1.83    65.8   36     29        N
..   ...     ...      ...          ...     ...     ...  ...    ...      ...
343   40    Male       87          218    1.85    90.7   41     38        N
344   66    Male      174          188    1.73    95.3   48     45        N
345   31  Female       69          183    1.68    86.2   47     41        N
346   44    Male       84          202    1.73    71.2   37     33        N
347   40  Female       85          169    1.65    81.6   44     40        N

[348 rows x 9 columns]

In [10]:
df['age_group'] = pd.cut(df['age'], 
                         bins = [20, 30, 40, 50, 60, 70],
                         right = False,
                         labels = ['20s', '30s', '40s', '50s', '60s'])
df

,age,sex,glucose,cholesterol,height,weight,hip,waist,diabetes,age_group
0,50,Male,385,140,1.75,78.0,41,37,Y,50s
1,37,Female,67,214,1.63,65.8,42,34,N,30s
2,43,Female,100,160,1.63,63.5,40,37,N,40s
3,32,Female,90,176,1.60,114.3,58,45,N,30s
4,20,Male,71,164,1.83,65.8,36,29,N,20s
...,...,...,...,...,...,...,...,...,...,...
343,40,Male,87,218,1.85,90.7,41,38,N,40s
344,66,Male,174,188,1.73,95.3,48,45,N,60s
345,31,Female,69,183,1.68,86.2,47,41,N,30s
346,44,Male,84,202,1.73,71.2,37,33,N,40s
347,40,Female,85,169,1.65,81.6,44,40,N,40s

In [ ]:
# apply와 lambda식을 섞어서 사용이 가능하다.

df['height'].apply(lambda x: 39.370079*x)